---
import Layout from "../layouts/Layout.astro";
import StatsCard from "../layouts/StatsCard.astro";
import ImageCarousel from "../layouts/ImageCarousel.astro";

const images = [

  {
    src: "https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg",
    alt: "picture2",
  },
  {
    src: "https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg",
    alt: "picture3",
  },
  {
    src: "https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg",
    alt: "picture4",
  },
  {
    src: "https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg",
    alt: "picture5",
  },
  {
    src: "https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg",
    alt: "picture6",
  },
  {
    src: "https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg",
    alt: "picture7",
  },
];
---

<Layout title="Comettxdd">
  <main>
    <div class="bg-gradient-to-b from-[#101212] relative to-[#1c0820]">
      <section
        class="relative lg:min-h-[100px] pt-24 pb-10 sm:pt-32 sm:pb-16 lg:pb-24"
      >
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative z-20">
            <h1 class="flex justify-center text-6xl font-bold sm:text-8xl">
            <span
              class="animated-gradient text-center text-transparent bg-clip-text bg-gradient-to-r from-[#7b29ff] to-white"
            >
             No es magia, es DevOps
            </span>
            </h1>
          <div class="max-w-xl mx-auto text-center">
            <p class="mt-10 text-base text-white sm:text-xl">
              ¿Quieres expandir tu mercado o encontrar nuevos proveedores?
              Commette es la solución que necesitas.
            </p>

            <div
              class="grid grid-cols-1 px-20 mt-12 text-left gap-x-12 gap-y-8 sm:grid-cols-3 sm:px-0"
            >
              <StatsCard
                imgSrc="sellers.svg"
                imgAlt="sellers logo"
                text="Más de 1000 vendedores registrados"
              />
              <StatsCard
                imgSrc="products.svg"
                imgAlt="products logo"
                text="Más de 5000 productos publicados"
              />
              <StatsCard
                imgSrc="secure.svg"
                imgAlt="secure logo"
                text="Transacciones garantizadas y seguras"
              />
            </div>

          </div>
        </div>
      </section>

      <ImageCarousel images={images} />
    </div>
  </main>
</Layout>
<style>
  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animated-gradient {
    @apply bg-gradient-to-r from-[#ffffff] via-[#7b29ff] to-[#ff0095];
    background-image: linear-gradient(to right, #fff494, #7b29ff, #ff0095, #ffffff);
    background-size: 200% 200%;
    animation: moveGradient 4s ease infinite;
  }
</style>
