<header class="bg-black">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex items-center justify-between lg:h-20">
      <div class="flex-shrink-0">
        <a href="/" title="" class="flex">
          <img
            class="w-auto h-8 m-5 lg:h-10"
            src="/horizontal_white.svg"
            alt="Commette Logo"
          />
        </a>
      </div>

      <button
        id="menu"
        type="button"
        class="inline-flex p-2 text-white transition-all duration-200 rounded-md md:hidden focus:bg-gray-800 hover:bg-gray-800"
      >
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>

      <div class="hidden md:flex md:items-center md:space-x-10">
        <a
          href="#"
          class="bg-transparent hover:bg-purple-600 text-purple-600 font-semibold hover:text-white py-2 px-4 border border-purple-600 hover:border-transparent rounded"
        >
          Comenzar
        </a>
      </div>
    </nav>

    <nav id="mobile-nav" class="pb-10 text-center bg-black md:hidden" hidden>
      <nav class="flex flex-col items-center mt-10 space-y-2">
        <a
          href="#"
          class="bg-transparent hover:bg-purple-600 text-purple-600 font-semibold hover:text-white py-2 px-4 border border-purple-600 hover:border-transparent rounded"
        >
          Comenzar
        </a>
      </nav>
    </nav>
  </div>
</header>

<script>
  const menuButton = document.getElementById("menu");
  const mobileNav = document.getElementById("mobile-nav");

  if (mobileNav) {
    menuButton?.addEventListener("click", () => {
      if (mobileNav.style.display === "block") {
        mobileNav.style.display = "none";
      } else {
        mobileNav.style.display = "block";
      }
    });
  }
</script>
